# Virtual environment
.venv/
venv/
env/

# Local env file
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# coverage / logs
htmlcov/
.coverage
coverage.xml
*.log

# Test outputs
reports/